<p-card [header]="header" [style]="{position:'relative'}">
    <p-card [style]="{width:'51%'}" header="Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repudiandae voluptate vel aliquid quis alias! Dolore corrupti libero ipsa perferendis necessitatibus blanditiis possimus officia odio">
    </p-card>


    <p-card [style]="{width:'51%', marginTop:'10px',backgroundColor:'black',color:'white'}" header="Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repudiandae voluptate vel aliquid quis alias! Dolore corrupti libero ipsa perferendis necessitatibus blanditiis possimus officia odio">
    </p-card>
</p-card>